<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title>
     <link rel="stylesheet" href="/styles.css">
</head>
<body>
     <div class="form">
          <form onsubmit="submitHandler(event);">
               <h1>Login</h1>
               <div>
                    <label for="name">Email:</label>
                    <input class="line" id="email" type="email" name="email" maxlength="30" placeholder="Email" required>
               </div>
               <div>
                    <label for="password">Password:</label>
                    <input class="line" type="password" name="password" minlength="8" maxlength="50" placeholder="Password" required>
               </div>
               <div>
                    <button type="submit" class="line">Login</button>
               </div>
               </form>
               <div class="links">
                    <div>
                         <a href="/create-org">Create an Organization</a>
                    </div>
                    <div>
                         <a href="/new-emp">New employee? Click here get you ready!</a>
                    </div>
               </div>
     </div>
     <script src="/basic.js"></script>
     <script src="/request.js"></script>
     <script>
          const submitHandler = (event) => {
               event.preventDefault();
               let em = document.getElementById("email")
               let pass = document.querySelector("[name='password']")
               let password = pass.value
               let email = em.value
               fetch("/",{
                    method:"POST",
                    mode:"same-origin",
                    headers:{
                         'Content-type':'application/json'
                    },
                    body:JSON.stringify({
                         email,password
                    })
               })
               .then(res => promiseHandler(res,"User name or password is wrong.!Please check the credentials"))
               .then(res => res.json())
               .then(res => {
                    console.log(res)
                    window.location.href = "/home"
               })
               .catch(err => {
                    alert(err)
                    em.value = ""
                    pass.value = ""
                    em.select()
               })
          }
     </script>
</body>
</html>